<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Bienvenue sur Prisma</span>
        <span id="welcomeDescription">Prisma est un serveur minecraft Rp, Survie, Mini-Jeux, Plots crée en 2020 sous le nom de ville pour aventure qui ajoute des plugins pour créer un gameplay plus complet.</span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes qu'à quelques clic de Prisma.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUEZ
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>